@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
    /* Light theme */
    --background: #ffffff;
    --foreground: #171717;

    --primary: #009966; /* màu chủ đạo */
    --primary-foreground: #ffffff;

    --secondary: #f0fdfa; /* xanh ngọc rất nhạt */
    --secondary-foreground: #064e3b;

    --border: #e5e5e5;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
}

.dark {
    /* Dark theme */
    --background: #232323;
    --foreground: #ededed;

    --primary: #009966; /* vẫn giữ màu chủ đạo */
    --primary-foreground: #ffffff;

    --secondary: #134e4a; /* xanh ngọc đậm hơn */
    --secondary-foreground: #a7f3d0;

    --border: #262626;
    --muted: #1a1a1a;
    --muted-foreground: #a3a3a3;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-border: var(--border);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
